<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    Test page
    </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}test/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}test/main.css">
    <script type="text/javascript" src="{{ STATIC_URL }}test/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}test/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}test/bootstrap-button.js"></script>
    <script type="text/javascript">
      $(document).ready( function(){
        var cookie = document.cookie, length = cookie.length;
        var cookie_name = 'item_filter';
        var cookies = '';
        if(length) {
          var cookie_start = cookie.indexOf(cookie_name + '=');
          if(cookie_start != -1) {
            var cookie_end = cookie.indexOf(';', cookie_start);
            if(cookie_end == -1) {
              cookie_end = length;
            }
            cookie_start += cookie_name.length + 1;
            cookies =  unescape(cookie.substring(cookie_start, cookie_end)).split('|');
          }
          };
        console.log(cookies);
        if (cookies){

          Array.prototype.slice.call(cookies).forEach(function(it){ $('button[id='+it+']').addClass('active');});
        };


        var page = 1; //Текущая страница по номеру (используется в паджинации)
        var mode = 0; // 0 - День, 1 - Календарь. Поменять на 0 по умолчанию, прикрутить эвент смены режима

        // для показа / скрытия месяц/день
        var dates = $('#dates');
        var calendar_data_2 = $('#calendar_data_2');
        var table = $('#table'); 

        if (mode){
          dates.css({display:'none',});
          calendar_data_2.css({display:'none',});
          table.css({display:'table',});
          }
        else{
          dates.css({display:'block',});
          calendar_data_2.css({display:'block',});
          table.css({display:'none',});
        }

        var date_time = $('#date_time');//! 
        var date_event = $('#date_event');
        var table_body = $('#table tbody');
        var big_num = $('.big_num');//!
        var weekday = $('#weekday');//!
        var month_year = $('#month_year');//!
        var arr_has_prev = $('#has_prev');
        var arr_has_next = $('#has_next');
        var news = $('#news');//!
        var path_to_view = "{% url view_more 'testname' %}".slice(0,-9);
        var array = [];

        {% if has_next %} {% else %}arr_has_next.css({display:'none',}){% endif %}
        {% if has_prev %} {% else %}arr_has_prev.css({display:'none',}){% endif %}

        var arr_err = function(){ console.dir(arguments); } ;
        var arr_click = function(json){
          if (mode) 
          {
            date_time[0].innerHTML = json['month_year']
            date_event[0].innerHTML = 'Событий: '+json['count']
            no_weekday = 0;
            html = '<tr>';
            console.log(json['objects'])
            Array.prototype.slice.call(json['objects']).forEach(function(it, index){
              html += '<td id="'+it[0]+'_'+it[1]+'_'+it[2]
              if (it[3] == -1) { 
                html += '" class="gray"><div>'+it[2]+'</div></td>'
              }
              else {
                html += '"><div>'+it[2]+'</div><div class="count"> +'+it[3]+' </div></td>'
              }

              if (no_weekday == 6) { 
                html += '</tr><tr>';
                no_weekday = 0;
              }
              else{
                no_weekday += 1;
              }
            });

            html += '</tr>';
            table_body[0].innerHTML = html;
          }
          else {

            date_time[0].innerHTML = json['date'];
            date_event[0].innerHTML = "Событий: "+json['len_obj'];
            big_num[0].innerHTML = json['big_num'];
            weekday[0].innerHTML = json['weekday'];
            month_year[0].innerHTML = json['month_year'];
            page = json['page'];
            news[0].innerHTML = '';

            if (json.has_next) 
              {arr_has_next.css({display:'block'});}
            else
              {arr_has_next.css({display:'none'});};

            if (json.has_prev) 
              {arr_has_prev.css({display:'block'});}
            else
              {arr_has_prev.css({display:'none'});};

            Array.prototype.slice.call(json['objects']).forEach(function(it){
              div = $('<div>').addClass('event');
              div_tumb = $('<div>').addClass('event_tumb');
              zz = it[2] ;
              if  (zz) {
                img = $('<img>').addClass('leftimg').attr({src:"/"+it[2]}); }
              else {
                img = $('<img>').addClass('leftimg').attr({src:"{{ STATIC_URL }}images/no_pic.jpg"});}
              a = $('<a>').attr({href:path_to_view+it[1]+'/'}).text(it[0]);
              img.appendTo(div_tumb);
              div_tumb.appendTo(div);
              a.appendTo(div);
              div.appendTo(news);
              
            });

          };
        };

      table_body.on('click', 'td', function(event){ 
            id = event.currentTarget.id+"";
            date = id.split('_')
            $('#switch').trigger("click", [date[0],date[1],date[2]]);
            event.stopPropagation()

});

      $('#refresh').click(function(event, manual_trigger, filter, year, month, day){
        if (manual_trigger){
          var date_arr = $('#date_time')[0].innerHTML.split(' '); //текущая дата
          data = {  d:day || date_arr[0],
                    m: month || date_arr[1],
                    y: year || date_arr[2],
                    page:page, 
                    f:filter, 
                    mode:mode
                  };

          $.ajax({
            url: '/ajax/',
            dataType: 'json',
            data: data,
            success: arr_click,
            error: arr_err,
          });
        }
      event.stopPropagation()
      });

        if (mode){

          }
        else{

        }

      $('#switch').click(function(event, year, month, day){
        if (mode){ 
          mode = 0; 
          page = 1;
          $('#refresh').trigger("click", [1,'', year, month, day || 1]);

          dates.css({display:'block',});
          calendar_data_2.css({display:'block',});
          table.css({display:'none',});
        } 
        else { 
          mode = 1; 
          page = 1;
          $('#refresh').trigger("click", [1,'']);

          dates.css({display:'none',});
          calendar_data_2.css({display:'none',});
          table.css({display:'table',});
        };
      });


      $('#ra').click(function(){
        console.log('ra');
        var date_arr = $('#date_time')[0].innerHTML.split(' '); //текущая дата
        data = {d:date_arr[0],m:date_arr[1],y:date_arr[2],o:1,page:1, mode:mode};

        $.ajax({
          url: '/ajax/',
          dataType: 'json',
          data: data,
          success: arr_click,
          error: arr_err,
        });
        });

      $('#la').click(function(){
        console.log('ra');
        var date_arr = $('#date_time')[0].innerHTML.split(' '); //текущая дата
        data = {d:date_arr[0],m:date_arr[1],y:date_arr[2],o:-1,page:1, mode:mode};

        $.ajax({
          url: '/ajax/',
          dataType: 'json',
          data: data,
          success: arr_click,
          error: arr_err,
        });
        });


      arr_has_prev.click(function(){
        console.log('has_prev')
        var date_arr = $('#date_time')[0].innerHTML.split(' '); //текущая дата
        $.getJSON('/ajax/', {d:date_arr[0],m:date_arr[1],y:date_arr[2],page:page-1, mode:0}, arr_click);
      });

      arr_has_next.click(function(){
        console.log('has_next')
        var date_arr = $('#date_time')[0].innerHTML.split(' '); //текущая дата
        $.getJSON('/ajax/', {d:date_arr[0],m:date_arr[1],y:date_arr[2],page:page+1, mode:0}, arr_click);
      });

     });
</script>

  </head>
  <body>
  <div id="refresh" style="display:hidden"></div>
  <div id="maket">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button id="switch" class="btn btn-inverse">Event's site</button>
<!--          <a href="/" class="brand switch">Event's site</a>-->
          <div style="float:left">
          <div class="nav-collapse">
            <div>
            <ul class="nav" >
              <li><a href="{% url view_today %}" >Home</a></li>
              <li><a href="{% url view_next_day %}">Завтра</a></li>
              <li><a href="{% url view_next_week %}">На неделю</a></li>
              <li><a href="{% url randpage %}">Мне повезет!</a></li>  
              <li><a href="{% url registration_unique_mail %}">Регистрация</a></li>
            <form action="{% url search_event %}" class="navbar-search pull-left">
              <input type="text" name="query" placeholder="Search" class="search-query span2">
            </form>
            </ul>
            <div style="float:right">
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                  <ul class="nav">
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">Привет, {{ user }}! <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url profiles_edit_profile %}">Редактировать профиль</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url user_logout %}">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
            </div>
            <div  style="clear: both;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button id="1" class="btn btn-inverse">Кино</button>
              <button id="2" class="btn btn-inverse">Концерты</button>
              <button id="3" class="btn btn-inverse">Выставки</button>
              <button id="4" class="btn btn-inverse">Театры</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- navbar -->
    <div class="row-fluid show-grid backgr center-block">
    
      <div class="nav-block">
        <div style="padding-top:80px;text-align:right;">
        <ul class="nav nav-list">
          <li class="nav-header">Показать:</li>
          <li class="active"><a href="#">День</a></li>
          <li><a href="#">Месяц</a></li>
        </ul>
        </div>
      </div>
      <div id="calendar_data" class="event-block">
          <div style="text-align:center;padding-left:55px;padding-right:55px;">  
            <div id="date">
              <div id="la" class="arrow_left">      </div>
              <div id="ra" class="arrow_right">     </div>
              <div style="width=70%; margin: auto;">
                <div style="width=70% height:40px; margin: auto; display:block;">
                <div id="date_time">{{ date }}</div>
                <div id="date_event"> Событий: {{ len_obj }} </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <table id='table' cellspacing="1" cellpadding="0" border="0">
            <thead>
              <tr>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
                <th>Воскресенье</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div>1</div><div class="count">+7</div></td>
                <td><div>2</div><div class="count">+7</div></td>
                <td><div>3</div><div class="count">+7</div></td>
                <td><div>4</div><div class="count">+7</div></td>
                <td><div>5</div><div class="count">+7</div></td>
                <td><div>6</div><div class="count">+7</div></td>
                <td><div>7</div><div class="count">+7</div></td>
              </tr>
            </tbody>
          </table>

          <div id="dates">  
            <div class="big_num">{{ big_num }}</div>
            <div id="weekday">{{ weekday }}</div>
            <div id='month_year'>{{ month_year }}</div>
          </div>
          
          <div id="calendar_data_2" class="events">  
            <div id="news" >
              {% for event in objects %}
              <div class="event">
                <div class="event_tumb">
                  {% if event.picture %}
                      <img src="/{{ event.picture }}" alt="" width="200" class="leftimg">
                  {% else %}
                      <img src="{{ STATIC_URL }}images/no_pic.jpg" alt="" width="200" class="leftimg">
                  {% endif %}
                </div>
                <a href="{% url view_more event.slug %}">{{ event.name }}</a>
              </div>
              {% endfor %}
            </div>
              <div id="arrows">
                <div id='has_prev' ></div>
                <div id='has_next' ></div>
              </div>

          </div>


      </div>
    </div>

  <div class="footer">
  <h4>&copy; Company 2012</h4>
  </div>
  </div>
  </body>
</html>
