<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    {% block header %}Event's site{% endblock %}   
    </title>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    {% block scripts %}{% endblock %}
  </head>
  <body>
        {% load view_category %} 
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">Event's site</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li{% path_match "active" "homepage" %}><a href="{% url homepage %}">Home</a></li>
            <li{% path_match "active" "view_next_day" %}><a href="{% url view_next_day %}">Завтра</a></li>
            <li{% path_match "active" "view_next_week" %}><a href="{% url view_next_week %}">На неделю</a></li>
            {% if user.is_authenticated %}
            <li{% path_match "active" "add_event" %}>
            <a href="{% url add_event %}">Добавить событие</a></li>
            {% else %}
            <li{% path_match "active" "registration_unique_mail" %}>
            <a href="{% url registration_unique_mail %}">Регистрация</a></li>
            {% endif %}
          <form action="{% url search_event %}" class="navbar-search pull-left">
            <input type="text" name="query" placeholder="Search" class="search-query span2">
          </form>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            <li><a href="{% url user_logout %}">Logout</a></li>
            {% else %}
            <li{% path_match "active" "user_login" %}><a href="{% url user_login %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div><!-- navbar -->

  <div class="row-fluid show-grid">
    <div class="span3">
    {% show_category %}
    </div>

    <div class="span6">
    {% block content %}{% endblock %}
    </div>

    <div class="span3">
        <br>
    </div>

    </div>

  <hr>
  <div class="footer">
  <h4>&copy; Company 2012</h4>
  </div>
  </body>
</html>
