{% extends "main/base.html" %}
{% block content %}

    {% if list_events %}
        <ul>
        {% for event in list_events %}
            <div class="row-fluid">
            <h2>{{ event.name }}</h2>
            <p>
            {% if event.get_pic %}            
                {% autoescape off %}
                {{ event.get_pic }}
                {% endautoescape %}
            {% else %}
                <img src="/images/no_pic.jpg" alt="" width="200" class="leftimg">
            {% endif %}
            <strong>Дата: </strong> {{ event.date }} <br>
            <strong>Описание: </strong>{{ event.text }}<br>
            </p>
            <br>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        Событий в этой категории нет! </br>
    {% endif %}

{% endblock %}
