{% extends "main/base.html" %}

{% block header %}
Последние добавленные
{% endblock %}

{% block content %}

<h2>Ближайшие события:</h2><br>
<ul>

{% for event in list_events %}

    <div class="row-fluid {% if event.is_today %}today{% endif %}">
    <h2><a href={% url view_more  event.slug  %}>{{ event.name }}</a></h2>
    <p>

    {% if event.picture %}
        <img src="/{{ event.picture }}" alt="" width="200" class="leftimg">
    {% else %}
        <img src="{{ STATIC_URL }}images/no_pic.jpg" alt="" width="200" class="leftimg">
    {% endif %}

    <strong>Дата: </strong> {{ event.date }} <br>
    <strong>Описание: </strong>{{ event.text }}<br>
    </p>
    <br>
    </div>

{% endfor %}
</ul>

{% endblock %}
