body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
ul,
ol {
  padding: 0;
  margin: 0 0 9px 0px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0px; /* Отступы вокруг картинки */
}

.today {
  background-color: #F8F8FF;
  padding: 10px
}
.footer{
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display:block
}
input, textarea, select, .uneditable-input {
    width: 300px;
}
